body {
	background-color: #FFFFFF;
	color: #909090;
	font-family: 'Ubuntu', sans-serif;
}

canvas {
	border: 1px solid #000;
	background-color: #23C;
	padding: 0;
	margin: auto;
	display: block;
	width: 972px;
	height: 486px;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
	color: #000000;
	font-size: 28px;
}